{% extends 'main.html' %}
{% load static %}
{% block title %}Home | Share My Notes{% endblock title %}
{% block content %}
<main>
  <div class="container" style="max-width: 720px;">
    <!-- Search Header-->
    <div class="my-3">
      <center>
        <h3 class="px-2">Busque e baixe materiais publicados por outros alunos</h3>
      </center>
      {% include 'base/components/search_input.html' %}      
    </div>
    <!--End Serch Header-->
    
    <!--Main-->
    <div>
      <!--Extra info-->
      <div class=" justify-content-between my-4 flex" style="font-size: 14px;">
        <div class="mb-2">
          {% if documents.count == 1 %}
          <span class="text-muted">{{documents.count}} documento</span>
          {% else %}
          <span class="text-muted">{{documents.count}} documentos</span>
          {% endif %}
        </div>
        <div class="dropdown">
          <span class="text-muted dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">Organizar por mais relevantes</span>
  
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-muted small" href="#">mais relevantes</a></li>
            <li><a class="dropdown-item text-muted small" href="#">mais recentes</a></li>
          </ul>
        </div>
      </div>
      <!--End Extra info-->

      <!--Documents List-->
      
      <div>
        {% for document in documents %}
        <div class="smn_document_card d-flex bg-light my-2 p-3 pb-0 shadow rounded">
          <div class="smn_document_thumbnail">
            <img src="{% static 'images/nanda.jpeg' %}" alt="">
          </div>

          <div class="smn_document_content w-100">
            <div>
              <div>
                <span class="category__topic">{{document.category|title}}</span>
              </div>
              <div class="smn_document_name">
                <a href="{% url 'base:document_detail' document.slug document.id %}">{{document.name}}</a>
              </div>
            </div>

            <div class="pt-2">
              <div class="smn_document_school">
                <small class="d-flex gap-1">
                	<div>
                		<i class="fa-solid fa-building-columns" style="color: #6c757d;"></i>
                	</div>
                	<div>
                		<a class="text-muted" href="">{{document.school}}</a>
                	</div>
                </small>
              </div>
              <div class="smn_document_course">
                <small class="d-flex gap-1">
                	<div>
                		<i class="fa-solid fa-book" style="color: #6c757d;"></i>
                	</div>
                	<div>
                		<a class="text-muted" href="">{{document.course}}</a>
                	</div>
                </small>
              </div>
            </div>

            <hr style="margin: 5px 0;">
            <div class="d-flex gap-3 my-2 text-muted" style="font-size: 14px;">
              <div class="d-flex gap-1">
                <div style="width: 15px;">
                  {% if request.user not in document.likes.all %}
                    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z"/>
                    </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#00b4d8"  d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
                    </svg>
                  {% endif %}
                </div>
                <div>
                  <span>{{document.number_of_likes}} gostos</span>
                </div>
              </div>
              <div >
                  <i class="fa-solid fa-cloud-arrow-down"></i> <span>{{document.number_of_downloads}} downloads</span>
              </div>
          </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--End Documents List-->
    </div>
    <!--End Main-->
  </div>
</main>
{% endblock content %}